.register{
    height: 100vh;
    width: 100%;
    background-color: #daebfd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    width: 60%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 30px #d2cdd8 ;
}
input{
    /* border: none !important; */
    border-bottom: 1px solid rgb(0, 0, 121);
    width: 80%;
}
.register-btn{
    margin-left: 40%;
}
.link-to-login, .link-to-login:focus, .link-to-login:active{
    margin-left: 35%;
    text-decoration: none;
}
h6{
    margin-top:20px;
    margin-bottom: 0;
}