button{
    text-transform: capitalize;
    border: none;
    background-color: #fff;
    /* padding: 20px; */
    padding: 6px 10px 6px 27px;
    margin-left: 30px;
    margin-top: 20px;
    border-left: 2px solid #30cfe4;
    width: max-content;
    font-weight: 470;
    font-size: 1.2rem;
    transition: all 200ms;
}
button:hover{
    color: #2fb7c8;
    /* transform: scaleY(1.1); */
}
.active-btn{
    color: #2fb7c8
}
div.main-tabs{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    margin-left: 50px;
}